/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.form_wized {
  background: #f8f8f8;
  padding: 30px;
}

h4 {
  text-transform: capitalize;
  font-weight: 500;
}
.header_area {
  margin-bottom: 30px;
}

.saving_wrapper {
}
label {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: 500;
}
.input_box label {
  flex: 60px 0 0;
}

@media (max-width: 767.98px) {
  .input_box {
    flex-wrap: wrap;
  }
  .saving_wrapper {
    flex-wrap: wrap;
  }
  .form_wized {
    padding: 23px;
  }
}
#error_text,
#saving_error {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.saving_wrapper_input {
  max-width: 120px;
}
